/**** Start Default Theme ****/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus,
 .carousel-indicators .active,
 .option-box .gear-check{
      background-color: #45479A;
}

.navbar-inverse .navbar-brand span,
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before,
.about h1 span,
.footer h3,
.footer .copyright span,
.testimonials span{
    color: #45479A
}

.option-box .option-color,
.testimonials .carousel-indicators .active{
    border: 3px solid #45479A;
}

.dropdown-menu{
    border-top:3px solid #45479A
}

/**** End Default Theme ****/